@page
@model LSP3.Pages.AuthorSearch
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Author Search Page";
}
<form method="get">
    <p style="background-color: lightgray;padding-top:15px; padding-bottom: 15px; padding-left:15px;">
        Last: <input asp-for="LastName" />  First: <input asp-for="FirstName" />
        &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>
<hr />
@if (Model.Results.Count != 0)
{
    <table class="table searchtable">
        <thead>
            <tr>
                <th>
                    Author ID  <a style="text-decoration: none; color: black;" 
                                  asp-page="./AuthorSearch"
                                  asp-route-lastName="@Model.LastName"
                                  asp-route-firstName="@Model.FirstName"
                                  asp-route-sortOrder="AuthorId"
                                  asp-route-direction="ASC"
                                  asp-route-currentPage="@Model.CurrentPage">&lt;</a>
                    <a style="text-decoration: none; color: black;"  
                       asp-page="./AuthorSearch"
                       asp-route-lastName="@Model.LastName"
                       asp-route-firstName="@Model.FirstName"
                       asp-route-sortOrder="AuthorId"
                       asp-route-direction="DESC"
                       asp-route-currentPage="@Model.CurrentPage">&gt;</a>
                </th>
                <th>
                    Last   <a style="text-decoration: none; color: black;"
                                  asp-page="./AuthorSearch"
                                  asp-route-lastName="@Model.LastName"
                                  asp-route-firstName="@Model.FirstName"
                                  asp-route-sortOrder="LastName"
                                  asp-route-direction="ASC"
                                  asp-route-currentPage="@Model.CurrentPage">&lt;</a>
                    <a style="text-decoration: none; color: black;"
                       asp-page="./AuthorSearch"
                       asp-route-lastName="@Model.LastName"
                       asp-route-firstName="@Model.FirstName"
                       asp-route-sortOrder="LastName"
                       asp-route-direction="DESC"
                       asp-route-currentPage="@Model.CurrentPage">&gt;</a>
                </th>
                <th>
                    First   <a style="text-decoration: none; color: black;"
                                   asp-page="./AuthorSearch"
                                   asp-route-lastName="@Model.LastName"
                                   asp-route-firstName="@Model.FirstName"
                                   asp-route-sortOrder="FirstName"
                                   asp-route-direction="ASC"
                                   asp-route-currentPage="@Model.CurrentPage">&lt;</a>
                    <a style="text-decoration: none; color: black;"
                       asp-page="./AuthorSearch"
                       asp-route-lastName="@Model.LastName"
                       asp-route-firstName="@Model.FirstName"
                       asp-route-sortOrder="FirstName"
                       asp-route-direction="DESC"
                       asp-route-currentPage="@Model.CurrentPage">&gt;</a>
                </th>
                <th>
                    Email  <a style="text-decoration: none; color: black;"
                                   asp-page="./AuthorSearch"
                                   asp-route-lastName="@Model.LastName"
                                   asp-route-firstName="@Model.FirstName"
                                   asp-route-sortOrder="Email"
                                   asp-route-direction="ASC"
                                   asp-route-currentPage="@Model.CurrentPage">&lt;</a>
                    <a style="text-decoration: none; color: black;"
                       asp-page="./AuthorSearch"
                       asp-route-lastName="@Model.LastName"
                       asp-route-firstName="@Model.FirstName"
                       asp-route-sortOrder="Email"
                       asp-route-direction="DESC"
                       asp-route-currentPage="@Model.CurrentPage">&gt;</a>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model.Results)
            {
                <tr>
                    <td>@author.AuthorID</td>
                    <td>@author.LastName</td>
                    <td>@author.FirstName</td>
                    <td>@author.EMail</td>
                    <td><a href='ProfileModify?id=@author.AuthorID'>Edit</a></td>
                    <td><a href="DeleteAuthor?id=@author.AuthorID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" style="text-decoration: none; color: black;"
                   asp-page="./AuthorSearch"
                   asp-route-lastName="@Model.LastName"
                   asp-route-firstName="@Model.FirstName"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-direction="@Model.Direction"
                   asp-route-currentPage="1">&lt;|</a>
            </li>

            @for (int i = 1; i <= (Model.TotalPages < 11 ? Model.TotalPages : 10); i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" style="text-decoration: none; color: black;"  
                       asp-page="./AuthorSearch"
                       asp-route-lastName="@Model.LastName"
                       asp-route-firstName="@Model.FirstName"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-direction="@Model.Direction"
                       asp-route-currentPage="@i">@i</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link" style="text-decoration: none; color: black;"
                   asp-page="./AuthorSearch"
                   asp-route-lastName="@Model.LastName"
                   asp-route-firstName="@Model.FirstName"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-direction="@Model.Direction"
                   asp-route-currentPage="@Model.TotalPages">|&gt;</a>
            </li>
        </ul>
    </nav>
}





