@page
@model LSP3.Pages.AuthorSearch

<form method="get">
    <p>
        Last: <input asp-for="LastName" />  First: <input asp-for="FirstName" />
        <button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>
<hr />
@if (Model.Results.Count != 0)
{
    <table class="table searchtable">
        <thead>
            <tr>
                <th>Author ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model.Results)
            {
                <tr>
                    <td>@author.AuthorID</td>
                    <td>@author.LastName</td>
                    <td>@author.FirstName</td>
                    <td><a href='ProfileModify?id=@author.AuthorID'>Edit</a></td>
                    <td><a href="DeleteAuthor?id=@author.AuthorID" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="./AuthorSearch"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-searchTerm="@Model.SearchTerm"
                       asp-route-currentPage="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to proceed?');
        }
    </script>
}





