@page
@model LSP3.Pages.BookDeleteModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Delete Book";
}

<link rel="stylesheet" href="css/AddAuthor.css" type="text/css" />
<style>
    .labelback {
        background-color: lightgray;
    }

    .formback {
        background-color: gray;
    }

    .whiteback {
        background-color: white;
    }
</style>

<div class='container-fluid'>
    <div class='content formback'>
        <form method="post" id="bookform">
            <div class='row'>
                <div class='col-sm-12 labelback'>Author ID: @Model.Results.AuthorID</div>
            </div>
            <div class='row'>
                <div class='col-sm-12 labelback'>Book ID: @Model.Results.BookID</div>
            </div>

            <div class='row'>
                <div class='col-sm-12  labelback'>Title: @Model.Results.Title</div>
            </div>
            <div class='row'>
                <div class='col-sm-12  labelback'>SubTitle: @Model.Results.Subtitle</div>
            </div>
            <div class='row'>
                <div class='col-sm-12  labelback'>ISBN: @Model.Results.ISBN</div>
            </div>
            <div class='row'>
                <div class='col-sm-12 labelback'>Description: @Model.Results.Description</div>
            </div>

            <div class='row whiteback'>
                <div class='col-sm-2 '><button type="button" id="UpdateButton" onclick="return DeleteBookEventHandler(event,@Model.Results.BookID);" class="btn btn-primary">Delete</button></div>
                <div class='col-sm-2 '><button type="button" id="CancelButton" onclick="return CancelEventHandler(event);" class="btn btn-secondary">Cancel</button></div>
            </div>
        </form>
    </<div>
</div>


<script type="text/javascript">
    function CancelEventHandler(event) {
        event.preventDefault();
        window.location.href = "Admin";
        return false;

    }

    function DeleteBookEventHandler(event, id) {
        event.preventDefault();

        fetch(API_URL + "book/delete/" + id)
            .then(
                response => { return response.statusText() }
            ).then(
                html => console.log(html)
            );
        alert('Book has been deleted');
        window.location.href = "Admin";
        return false;
    }
</script>

