@page
@model LSP3.Pages.BookDeleteModel


<style>
    .labelback {
        background-color: lightgray;
    }

    .formback {
        background-color: gray;
    }

    .whiteback {
        background-color: white;
    }

    #box {
        width: 500px;
        height: 300px;
        border-radius: 20px; /* Adjust the value to change the roundness */
        background-color: lightblue; /* You can change the background color */
    }
</style>

<div style="height:20px;"></div>
<div id="box">
    <div class='container-fluid'>
        <div class='content'>
            <form method="post" id="bookform">
                <div  style="height:20px;"></div>
                <div class='row'>
                    <div class='col-sm-12'>Author ID: @Model.Results.AuthorID</div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>Book ID: @Model.Results.BookID</div>
                </div>
                <div class='row'>
                    <div class='col-sm-12 '>Title: @Model.Results.Title</div>
                </div>
                <div class='row'>
                    <div class='col-sm-12 '>SubTitle: @Model.Results.Subtitle</div>
                </div>
                <div class='row'>
                    <div class='col-sm-12 '>ISBN: @Model.Results.ISBN</div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>Description: @Model.Results.Description</div>
                </div>
                <div style="height:20px;"></div>
                <div class='row'>
                    <div class='col-sm-3 '></div>
                    <div class='col-sm-2 '><button type="button" id="UpdateButton" onclick="return DeleteBookEventHandler(event,@Model.Results.BookID);" class="btn btn-primary">Delete</button></div>
                    <div class='col-sm-2 '><button type="button" id="CancelButton" onclick="return CancelEventHandler(event);" class="btn btn-secondary">Cancel</button></div>
                </div>
            </form>
        </<div>
    </div>
</div>


        <script type="text/javascript">
            function CancelEventHandler(event) {
                event.preventDefault();
                window.location.href = "Admin";
                return false;

            }

            function DeleteBookEventHandler(event, id) {
                event.preventDefault();

                fetch(API_URL + "book/delete/" + id)
                    .then(
                        response => { return response.statusText() }
                    ).then(
                        html => console.log(html)
                    );
                alert('Book has been deleted');
                window.location.href = "Index";
                return false;
            }
        </script>

