@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Author Information";
    var books = Model.Books;
}

<div class=container>
    <div class=content>
        <div class="accordion" id="accordionPanels">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Author Information
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <table id="author-table" cellspacing=0>
                            <tr>
                                <td>Author:</td>
                                <td>
                                    <div class=NameHeading>
                                        @Html.DisplayFor(IndexModel => IndexModel.Author.Prefix)
                                        @Html.DisplayFor(IndexModel => IndexModel.Author.FirstName)
                                        @Html.DisplayFor(IndexModel => IndexModel.Author.MiddleName)
                                        @Html.DisplayFor(IndexModel => IndexModel.Author.LastName)
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.Username)</td>
                                <td>Business Phone:</td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.BusinessPhone)</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.Address1)</td>
                                <td>Home Phone:</td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.HomePhone)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.Address2)</td>
                                <td>Cell Phone:</td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.CellPhone)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div>
                                        @Html.DisplayFor(IndexModel => IndexModel.Author.City),
                                        @Html.DisplayFor(IndexModel => IndexModel.Author.State)
                                        @Html.DisplayFor(IndexModel => IndexModel.Author.ZIP)

                                    </div>
                                </td>
                                <td>EMail:</td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.Email)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.DisplayFor(IndexModel => IndexModel.Author.Country)</td>
                                <td>Edit Profile:</td>
                                <td>LINK</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @foreach (var book in books)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Book:  @Html.Raw(book.Title)
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <table cellspacing='0' style='border-collapse:collapse;'>

                                <tr><td>Title:</td><td>@Html.Raw(book.Title)</td></tr>

                                <tr><td>Subtitle:</td><td>@Html.Raw(book.Subtitle)</td></tr>

                                <tr><td>ISBN:</td><td>@Html.Raw(book.ISBN)</td></tr>

                                <tr><td>Cover</td><td><a target="_blank" href="Display.aspx?target='@Html.Raw(book.Title)">@Html.Raw(book.Title)</td></tr>

                                <tr><td>Description</td><td><a target="_blank" href="DisplayText.aspx?field=description&bookid=@Html.Raw(book.BookID.ToString())">View Description</a></td></tr>

                                <tr><td>Author Photo</td><td><a target="_blank" href="Display.aspx?target =@Html.Raw(book.AuthorPhoto)">@Html.Raw(book.AuthorPhoto)</td></tr>

                                <tr><td>Interior</td><td><a target="_blank" href="Display.aspx?target =@Html.Raw(book.Interior)">@Html.Raw(book.Interior)</td></tr>

                                <tr><td>Author Bio</td><td><a target="_blank" href="DisplayText.aspx?bookid =@Html.Raw(book.BookID.ToString())&field=authorbio">View Author Biography</a></td></tr>

                                <tr><td>Cover Idea</td><td><a target="_blank" href="DisplayText.aspx?bookid =@Html.Raw(book.BookID.ToString())&field=coveridea">View Cover Idea</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>
    function toggleColumn() {
        var col1 = document.getElementById('col1');
        if (col1.classList.contains('collapsed')) {
            col1.classList.remove('collapsed');
        } else {
            col1.classList.add('collapsed');
        }
    }
</script>




