@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="http://www.lightswitchpress.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="language" content="en-us">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" type="text/css" />
    <link rel="stylesheet" href="~/css/optimized.css" asp-append-version="true" type="text/css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <script src="Scripts/common.js" type="text/javascript"></script>
    <script src="Scripts/author.js" type="text/javascript"></script>
    <script src="Scripts/book.js" type="text/javascript"></script>
    <script src="Scripts/help.js" type="text/javascript"></script>

    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-charts-enterprise@9.0.0/dist/umd/ag-charts-enterprise.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/styles/ag-grid.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/styles/ag-theme-alpine.css" />
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="wrapper" style="grid-template-rows: auto;">
        <header class="page-header">
            <center>
                <a href="http://www.lightswitchpress.com/Author/Default.aspx">
                    <div class="logo"></div>
                </a>
            </center>

        </header>
        <main class="page-main">
            <div class='page-content'>
                <div id='col1' class='col'>
                    <div id='content'>
                        <div id="contentInner">

                            <nav class="nav flex-column">
                                @foreach (var link in GetLinks())
                                {
                                    @Html.Raw(link);
                                }

                            </nav>
                        </div>
                    </div>
                </div>
                <div id='col2' class='col'>
                    @RenderBody()
                </div>
            </div>

        </main>

        <footer class="page-footer">
            &copy; @DateTime.Now.Year Light Speed Press.  All rights reserved.
        </footer>

    </div>

    <asp:ContentPlaceHolder ID="ScriptPlaceHolder" runat="server">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </asp:ContentPlaceHolder>
    @RenderSection("BottomScripts", required: false)
</body>
</html>


@{

    List<string> GetLinks()
    {
        var menulist = new List<String>();
        int authorid = 0;
        int bookid = 0;
        bool admin = false;

        @if (Context.Session.GetString("AuthorId") != null)
        {
            authorid = int.Parse(Context.Session.GetString("AuthorId"));
        }
        @if (Context.Session.GetString("Admin") != null)
        {
            admin = bool.Parse(Context.Session.GetString("Admin"));
        }

        var links = new List<MenuItem>
        {
            new MenuItem { DisplayName = "LSP Home", LinkUrl = "http://www.lightswitchpress.com", Admin = false },
            new MenuItem { DisplayName = "Author Information", LinkUrl = "Index", Admin = false },
           // new MenuItem { DisplayName = "Upload Book Images", LinkUrl = "UploadContent", Admin = false },
            new MenuItem { DisplayName = "Author Search", LinkUrl = "Search", Admin = true },
            new MenuItem { DisplayName = "New Author", LinkUrl = "Account/Register", Admin = true },
            new MenuItem { DisplayName = "Book Search", LinkUrl = "BookSearch", Admin = true },
            new MenuItem { DisplayName = "New Book", LinkUrl = "Book", Admin = false },
            new MenuItem { DisplayName = "Bulk Sales Entry", LinkUrl = "BulkSalesEntry", Admin = true },
            new MenuItem { DisplayName = "Book Sales Browse", LinkUrl = "BookSales", Admin = true },
            new MenuItem { DisplayName = "Logout", LinkUrl = "Account/Logout", Admin = false },
        };

        foreach (var l in links)
        {
            if( admin == false && l.DisplayName.ToLower().Equals("new book"))
            {
                menulist.Add($"<a class=\"nav-link sitelink\" href=\"{l.LinkUrl}?authorid={authorid}\">{l.DisplayName}</a>");
            }
            else if (admin == true)
            {
                menulist.Add($"<a class=\"nav-link sitelink\" href=\"{l.LinkUrl}\">{l.DisplayName}</a>");
            }
            else if (admin == false && l.Admin == false)
            {
                menulist.Add($"<a class=\"nav-link sitelink\" href=\"{l.LinkUrl}\">{l.DisplayName}</a>");
            }
        }
        return menulist;
    }
}

